@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&family=Ubuntu&display=swap');


$PrimaryFontColor : #D4E4E3;
$FeaturedBackgroundColor : #081a41;
$PrimaryFont: Nunito Sans, sans-serif,Roboto, Ubuntu;

.home{
    padding: 74px 0 0;
    .homepage_HeroImg{
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        
        
        img{
            width: 100%;
            height: fit-content;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 12px black;
        }
    }
    .homepage_Featured{
        background-color: $FeaturedBackgroundColor;
        width: 100%;
        opacity: 0.85;
        margin: 0 auto;
        // border-radius: 10px;
        margin: 12px auto;
        box-shadow: 0 0 12px black;
        
        .featured_Container{
            padding: 12px;
            a{
                text-decoration: none;
                h3{
                    color: $PrimaryFontColor;
                    font-family: $PrimaryFont;
                    font-weight: 400;
                }
            }
            .homepage_Title{
                
                // background-color: pink;
                margin: 12px auto;
                display: flex;
                
                margin-top: 0;
                h3{
                    color: $PrimaryFontColor;
                    font-family: $PrimaryFont;
                    font-weight: 400;
                }
            }
            .item{
                
                // background-color: pink;
                .item_Container{
                    
                    a{
                        margin: 12px auto;
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: 1px dotted $PrimaryFontColor;
                        padding: 12px 0; 
                        text-decoration: none;
                        font-family: $PrimaryFont;
                        .blog_Image{
                            width: 40%;
                            display: flex;
                            align-items: center;
                            margin-right: 12px;
                            img{
                                width: 100%;
                                height: 100px;
                                object-fit: cover;
                                box-shadow: 0 0 6px black;
                            }
                        }
                        .blog_Detail{
                            width: 55%;
                            h3{
                                font-size: 16px;
                                margin: 0;
                                color: $PrimaryFontColor;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            }
                            p{
                                font-size: 12px;
                                margin: 0 0 12px;
                                color: $PrimaryFontColor;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                
                            }
                            span{
                                p{
                                    font-size: 10px;
                                    margin: 0 0 12px;
                                    color: lightgray;
                                    font-weight: 700;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                        
                            }
                        }
                }
                       
            }  
            }
        }
    }
}

@media (min-width : 768px) {
    .home{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 108px 0 0;
        .homepage_HeroImg{
            width: 50%;
        }
   
    .homepage_Featured{
        margin: 24px auto;
        
        .featured_Container{
            .item{
                padding: 0 24px;
                // background-color: pink;
                .item_Container{
                    
                    a{
                        .blog_Image {
                            img{
                                height: 200px;
                            }
                        }
                        .blog_Detail{
                            h3{
                                font-size: 20px;
                            }
                            p{
                                font-size: 16px;
                                
                                
                            }
                            span{
                                p{
                                    font-size: 14px;
                                    
                        
                            }
                        }
                        }
                }
            
            }
        }
    }
    
}
}
}

@media (min-width : 1280px) {
    .home{
        padding-top: 136px;
        justify-content: space-around;
        align-items: flex-start;
        .homepage_HeroImg{
            width: 35%;
            margin: 0;
            height: 762px;
            img{
                height: 762px;
                
            }
            :hover{
                transform: scale(1.02);
                opacity: 1;
            }
            
        }
        .homepage_Featured{
            width: 35%;
            margin: 0;
            height: 762px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-y:auto;
            border-radius: 10px;
            
            .featured_Container{
                
                .homepage_Title{
                   
                    h3{
                        font-size: 24px;
                        padding: 6px 24px
                    }
                }
                .item{
                    padding: 0 24px;
                    // background-color: pink;
                    .item_Container{
                        
                        a{
                            .blog_Image {
                                img{
                                    height: 150px;
                                }
                                 :hover{
                                position: relative;
                                bottom: 12px;
                                left: 12px;
                            }
                            }
                           
                        }
                    }
                    
                }
                
            }
            
        }
        
    }
    
}