header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    background-color: indigo ;
    color: white;
    width: 100%;
    box-shadow: 0 0 12px black;
    .cart{
        display: flex;
        width: 20%;
        justify-content: end;
        a{
            justify-content: center;
            svg{
            width: 40%;
            height: 60px;
            color:rgb(12, 73, 0);
            }
        }
    }
    a{
        display: flex;
        justify-content: center
    }
   
    nav {
        a{
            margin: 0 2rem;
            color: white;
            text-decoration: none;
        }
        a:hover {
            color: orange;
        }
    }
    .nav-btn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        visibility: hidden;
        opacity: 0;
        font-size: 1.8rem;
        margin-right: 6px;
        width: 20%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1279px){
    header {
        .logo {
            width: 40%;
        }
        .nav-btn {
            visibility: visible;
            opacity: 1;
            display: flex;
            align-items: center;
        }
        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;
            background-color: white;
            transition: 1s;
            transform: translateX(-200vh);
            .nav-close-btn{
                position: absolute;
                top: 2rem;
                right: 2rem;
            }
            a{
                font-size: 1.8rem;
            }
        }
        .responsive_nav {
            transform: none;
            background-color: indigo;
        }
    }
};

@media  (min-width : 768px) {
    header {
       justify-content: space-between;
       height: 80px;
       .logo{
        width: 70%;
       }
       nav {
        .nav-close-btn{
            position: absolute;
            top: 36px;
            left: 85%;
        }
       }
       .nav-btn{
        margin-left: 24px;
        justify-content: start;
       }
       .cart{
        margin-right: 24px;
       }
    }
}

@media  (min-width : 1280px) {
    header {
        height: 100px;
        justify-content: space-between;
        .nav-btn{
            display: none;
        }
        nav {
            display: flex;
            align-items: center;
            a{
                font-size: 24px;
            }
        }
        span{ 
            display: none;
        }
        .cart{
            margin-right: 36px;
        }
    }
}
